div.notice {
    padding: 1em 1em 1em 7em;
    margin: 1em 0;
    background-size: 60px;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-position: 15px center;
    min-height: 50px;
    color: #1f5386;
    font-size: 15px;
    background-color: #BCD6EE;
    border: solid 5px #75AADB;
    background-image: url("./images/notice.png");
  }
  
  div.check {
    padding: 1em 1em 1em 7em;
    margin: 1em 0;
    background-size: 60px;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-position: 15px center;
    min-height: 50px;
    color: #000000;
    font-size: 15px;
    background-color: #DFFFDF;
    border: solid 5px #007500;
    background-image: url("./images/warning.png");
  }